/test_data/Busy Hollywood Sidewalk Crowd.mp4
/test_data/face_test.png
/test_data/face_test_3.png
/id_list.txt
/main.py
/test_data/multiple_faces.mp4
/test_data/videoplayback.mp4
/Yolov8medium_trained.pt
/Yolov8s_obb_trained.pt
/test_data/M G ROAD CROWD WALKING _ STOCK FOOTAGES.mp4
/test_data/
